$color_main: #66C05D;
$color_text_subtitle: #333333;
$color_text_title: #000000;
$color_first_background: #EFEFEF;
$color_second_background: #FFFFFF;
$color_background_menu: #E5E5E5;
$color_text_copyright: #828282;
